<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <log4net>
    <!-- THE ERROR ROLLING FILE APPENDER-->
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5thread] %date{ABSOLUTE} %-10level [%ndc] - %message%newline%exception" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="c:\Logs\MTM\Error\MTM.Error" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyy-MM-dd.lo\g" />
      <!--PreserveLogFileNameExtension value="true" /-->
      <maxSizeRollBackups value="7" />
      <staticLogFileName value="false" />
    </appender>
    <!-- THE INFO ROLLING FILE APPENDER-->
    <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5thread] %date{ABSOLUTE} %-10level [%ndc] - %message%newline%exception" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="c:\Logs\MTM\Info\MTM.Info" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyy-MM-dd.lo\g" />
      <!--PreserveLogFileNameExtension value="true" /-->
      <maxSizeRollBackups value="2" />
      <staticLogFileName value="false" />
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5thread] [%date{ABSOLUTE}] [%-7level] [%-36ndc] - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <backColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5thread] [%date{ABSOLUTE}] [%-7level] - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <!--appender-ref ref="SmtpAppender" /-->
      <appender-ref ref="ErrorRollingFileAppender" />
      <appender-ref ref="InfoRollingFileAppender" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>

</configuration>