<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Aspose.Email" version="5.9.1" targetFramework="net461" />
  <package id="AutoMapper" version="3.3.1" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Dapper" version="1.42" targetFramework="net461" />
  <package id="DapperExtensions" version="1.4.4" targetFramework="net461" />
  <package id="EWS-Api-2.1" version="1.0.0" targetFramework="net461" />
</packages>